<div class="directiveConfig">
  <label>
    Radius
    <input type="number" [(ngModel)]="config.heatMapPointRadius" (ngModelChange)="angularHeatMap.draw();" min="1" max="100" />
  </label>
  <label>
    Radius Blur
    <input type="number" [(ngModel)]="config.heatMapPointRadiusBlur" (ngModelChange)="angularHeatMap.draw();" min="1" max="100" />
  </label>
  <label>
    Radius Alpha
    <input type="number" [(ngModel)]="config.heatMapPointAlpha" (ngModelChange)="angularHeatMap.draw();" min="0" max="1" step="0.1" />
  </label>
</div>
<div class="heatmap">
  <canvas AngularHeatMap AngularHeatMapData="data"></canvas>
</div>
<div class="container">
  <ul>
    <li>
      <a routerLink="/page1">Page One</a>
    </li>
    <li>
      <a routerLink="/page2">Page Two</a>
    </li>
    <li>
      <a routerLink="/page3">Page Three</a>
    </li>
    <li>
      <a routerLink="/page4">Page Four</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
