div.heatmap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  top: 0;
  left: 0;
}

div.directiveConfig {
  position: fixed;
  left: 0;
  top: 30%;
  width: 100px;
  z-index: 1000;
}

div.container {
  margin: auto;
  width: 80%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    list-style: none;
    padding: 10px;
    width: 200px;
    background-color: rgb(16, 65, 82);
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    text-align: center;

    a {
      color: white;
    }
  }
}
